@use 'base';

body {
  margin: 0;
  font-size: 16px;
  padding: base.$pad;
  color: base.$text-color;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 2.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.closed {
  display: none !important;
}

.skills-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.5em;
  padding: 1em;
}