$bg: #f7fdff;
$accent: hsl(220deg, 70%, 60%);

.landing {
  background-image: radial-gradient(rgb(214, 232, 250), rgb(232, 238, 245));
  background: $bg;
  padding: 2em;
  box-sizing: border-box;
  h2 {
    font-weight: 500;
    font-size: 2.25rem;
  }
}

.hi {
  margin: 0;
}

.my-name {
  margin-top: 1rem;
}

.landing-links {
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  justify-content: space-between;

  a {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all .2s;
    background: inherit;
    border: 2px solid $accent;
    border-radius: 3px;
    padding: .5rem 0;
    width: 7rem;
    text-align: center;
  }

  a:hover {
    background-color: $accent;
    color: white;
  }
}