.landing {
  background-image: radial-gradient(rgb(214, 232, 250), rgb(232, 238, 245));
  padding: 2em;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.hi {
  margin-top: 10vh;
}

.landing-links {
  margin-top: 5em;
  font-size: 1rem;
  font-family: Roboto, Arial, sans-serif;
  background-color: skyblue;

  li {
    text-align: center;
  }

  a {
    font-size: 2rem;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: all .2s;
  }
}