@use 'base';

$nav-width: 3rem;

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  height: $nav-width;
  background-color: white;

  .angel {
    padding-left: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
  }

  ul {
    display: flex;
    margin: 0;

    li:hover {
      background-color: base.$gray-2;
    }

    button {
      border: none;
      padding: 1rem;
      background-color: inherit;
      color: base.$text-color;
      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      font-weight: 400;
    }

    a {
      display: block;
      text-decoration: none;
      padding: 1rem;
      background-color: inherit;
      color: base.$text-color;
      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      box-sizing: border-box;
    }
  }
}


.selected {
  border-bottom: 2px solid base.$accent;
}

.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .menu-toggle {
    margin: auto;
    border: none;
    background-color: inherit;
    font-size: 1.5rem;
    display: flex;
  }

  nav .angel {
    padding-left: 1rem;
  }

  nav ul {
    display: none;
    position: absolute;
    top: $nav-width;
    background-color: white;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - $nav-width);

    button,
    a {
      width: 95%;
      padding: 1rem;
      text-align: start;
    }

  }

  .selected {
    border: none;
    border-right: 4px solid base.$accent;
    background-color: base.$accent-3;
  }

  nav ul.open {
    display: block;
  }
}