@use 'base';

.project-card {
  border: 1px solid black;
  padding: 1.5em;
  font-family: Roboto, Arial, sans-serif;

  .project-name {
    text-transform: capitalize;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 0;
  }

  img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .features {
    list-style: disc ;
    margin: .5em 1.5em;

    li {
      padding: .5em 0;
    }
  }

  .project-links {
    display: flex;
    justify-content: space-around;
    a {
      color: base.$text-color;
      transition: all .2s;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .svg-and-text {
      display: inline-block;
      font-size: 1rem;
      text-decoration: none;
      cursor: pointer;
      background: inherit;
      border-radius: 3px;
      padding: .5rem 0;
      width: 9rem;
      text-align: center;
      border: 2px solid black;
      box-sizing: border-box;
    }

    .svg-link {
      padding: 0;
      width: fit-content;
      height: fit-content;
      font-size: 2rem;
    }

  }
}