.section-heading {
  margin: 0;
  box-sizing: border-box;
}

.section-toggle {
  background: inherit;
  border: none;
  width: 100%;
  text-align: left;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-transform: capitalize;
  display: block;
}