.skill-card {
  width: fit-content;
  margin: 1rem;
  font-family: Roboto, Arial, sans-serif;

  h3 {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
  }
}


.logo {
  font-size: 5rem;
}

.js-logo {
  color: #f0db4f;
}

.react-logo {
  color: #61dbfb; 
}

.html-logo {
  color: #e54c21;
}

.css-logo {
  color: #264de4;
}

.sass-logo {
  color: #ce679a;
}

.github-logo {
  color: #171515;
}

.webpack-logo {
  color: #8ed5fa;
}

.jest-logo {
  color: #15c213;
}

.trello-logo {
  color: #0087d6;
}

.git-logo {
  color: #f15030;
}