.skill-card {
  border: 1px solid black;
  width: fit-content;
  margin: auto;
  font-family: Roboto, Arial, sans-serif;

  h3 {
    font-size: 1.2em;
  }

  img {
    display: block;
    width: 100px;
    border: 1px solid red;
  }
}